
<div class="invoice-table"> 
    <table>
        <tr>
          <td rowspan="2">
          <span>Invoice for</span> <br>
            Anne Cuthbert <br>
            Gift's Collection <br>
            #876 Palo Alto <br>
            Calamba City, Philippines, 4027 <br>
          </td>
          
          
            <td> 
                <span>Payable to</span> <br>
                555-8745
            </td>

            <td>
                <span>Invoice #</span> <br>
                123456
            </td>
        </tr>
       
        <tr>
            <td>
                <span>Project</span> <br> 
                Anne's Souvenir 
            </td>

            <td>
                <span>Due Date</span> <br>
                3/11/2023
            </td>
        </tr>
      </table>

      <hr>
</div>

