table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    color: rgb(1, 1, 187);
  }
  
  tr:nth-child(even) {
    background-color: #f3f6ff;
  }

  #item {
    color: black;
  }

  #subtotal {
    width: 245%;
  }

  #sub {
    color: rgb(1, 1, 187);
  }

  #total {
    color: black;
    font-weight: bold;
  }